/* Подключение шрифтов */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Кастомные свойства -цвета */

:root {
  --basic-black: #000000;
  --basic-black-rgb:0,0,0;
  --basic-black-light:#283136;
  --basic-grey-dark: #444444;
  --basic-grey--dark-l: #4D4D4D;
  --basic-grey: #666666;
  --basic-grey-light: #E1E1E1;
  --basic-grey-extra-light: #EEEEEE;
  --basic-white: #ffffff;
  --basic-white-rgb:255,255,255;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --special-red-hover: #E74246;
  --special-red-active: #D7373B;
  --special-green-hover: #00BC6C;
  --special-green-active: #00AA62;
  --special-yellow-hover: #EAB534;
  --special-yellow-active: #E5A722;
  --special-grey-active:  #A6A6A6;
  --special-grey-hover:  #DFDFDF;
  --special-grey-active-catalog: #D5D5D5;
}

/* ГЛОБАЛЬНЫЕ СТИЛИ */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  visibility: hidden;
}

/* все списки*/
.site-nav,
.services-list,
.orders-list,
.benefits-list,
.partners-list,
.social-list,
.sort-type-list,
.catalog-list,
.page-list,
.filter-features-list,
.filter-grids-list {
  list-style: none;
}

/*все кнопки и ссылки ввиде кнопок*/

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/*BODY*/

/* header */

.nav {
  background-color: var(--basic-grey-extra-light);
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.site-nav a:hover,
.cart span:hover {
  color: var(--special-red-hover);
}

.site-nav a:active,
.cart span:active {
  color: var(--basic-black);
  opacity:0.3;
}

/*main Cекция -Как работает студия*/

.work-studio {
  background-color: var(--basic-grey-extra-light);
}

.slide-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-text {
  line-height: 24px;
  color: var(--basic-black-ligh);
}

.btn-slide {
  background-color: var(--basic-red);
}

.btn-slide:hover {
  background-color: var(--special-red-hover);
}

.btn-slide:active {
  background-color: var(--special-red-active);
  color: rgba(var(--basic-white-rgb),0.3);
}


/* main Cекция -Услуги веб-студии*/

.service-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-item p {
  line-height: 24px;
  color: var(--basic-black-ligh);
}

/*Фоновый цвет, если картинка не загружается"*/

.wrap-img {
  width:300px;
  height:146px;
}

.img-site {
  background-color: var(--basic-red);
}

.img-application {
  background-color: var(--basic-green);
}

.img-presentation {
  background-color: var(--basic-yellow);
}

/*Кнопки ЗАКАЗАТЬ*/

.btn-service {
  width: 160px;
}

.btn-service:active {
  color: rgba(var(--basic-white-rgb),0.3);
}

/*красная кнопка*/

.btn-site {
  background-color: var(--basic-red);
}

.btn-site:hover  {
  background-color: var(--special-red-hover);
}

.btn-site:active {
  background-color: var(--special-red-active);
}

/* зеленая кнопка*/

.btn-application {
  background-color: var(--basic-green);
}

.btn-application:hover {
  background-color: var(--special-green-hover);
}

.btn-application:active {
  background-color: var(--special-green-active);
}

/*желтая кнопка*/

.btn-presentation {
  background-color: var(--basic-yellow);
}

.btn-presentation:hover  {
  background-color: var(--special-yellow-hover);
}

.btn-presentation:active {
  background-color: var(--special-yellow-active);
}

/*main Секция - О дизайн-студии*/

.description-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.description-text,
.orders-list {
  line-height: 24px;
  color: var(--basic-black-ligh);
}

.description-orders h3,
.about-benefits h3 {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.benefit-text {
  line-height: 18px;
  color: var(--basic-black-ligh);
}

.benefit-item .number {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.benefit-item .percent {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

/*Футер Как нас найти*/

.adress-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.adress-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}

.footer-phone {
  color: var(--basic-grey);
}

.btn-footer {
  background-color: var(--basic-red);
}

/* Футер Давайте дружить*/

.btn-social {
  background-color: var( --basic-grey-light);
}

.btn-social:hover {
  background-color: var(--special-red-hover);
}

.btn-social:active {
  background-color: var(--special-red-active);
}

.btn-social:active img {
  opacity: 0.3;
}

.social-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.social-text {
  line-height: 22px;
  color: var( --basic-grey-dark);
}

/*КАТАЛОГ*/

.wrap-catalor-title {
  background-color: var(--basic-grey-extra-light);
  text-align: center;
}

.wrap-catalor-title h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/*Фильтр шаблонов Стоимость*/

.filter-cost {
  text-transform: uppercase;
}

.filter-cost h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.filter-cost-picture, .filter-cost-range input {
  background-color: var(--basic-grey-extra-light);
}

.filter-cost-range  {
  line-height: 22px;
  color: var(--basic-black-light);
}

/*Фильтр шаблонов Сетка Особенности*/

.filter-grids, .filter-features {
  border: 0 none;
}

.filter-grids-features legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-option {
  line-height: 19px;
  color: var(--basic-black-light);
}

.btn-filter {
  background-color: var(--basic-grey-extra-light);
  color: var(--basic-black);
  line-height: 18px;
}

.btn-filter:hover  {
  background-color: var(--special-grey-hover);
}

.btn-filter:active  {
  background-color: var(--special-grey-active-catalog);
  color: rgba(var(--basic-black-rgb),0.3);
}

/*Каталог шаблонов Сортировать*/

.catalog-sort {
  text-transform: uppercase;
}

.catalog-sort h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.sort-type-list li {
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
}

.sort-type-list li:hover {
  opacity: 0.6;
}

.sort-type-list li:active, .sort-type-list li:first-child {
  opacity: 1;
}

/*Каталог шаблонов Каталог*/

.catalog-slider {
  width: 360px;
  height: 40px;
  background-color: var(--basic-grey--dark-l);
  opacity: 0.12;
}

.catalog-item:hover .catalog-slider {
  opacity: 1;
}

.catalog-item-description {
  width: 360px;
  height: 231px;
  background-color: var(--basic-grey-extra-light);
}

.catalog-item:hover .catalog-item-description {
  visibility: visible;
}

.catalog-item-description h3{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-item-description h3:hover {
  color: var(--basic-red);
}

.catalog-item-description h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item-description p {
  line-height: 18px;
  text-align: center;
  color: var(--basic-grey);
}

.btn-catalog-item {
  width: 200px;
  background-color: var(--basic-red);
}

.btn-catalog-item:hover  {
  background-color: var(--special-red-hover);
}

.btn-catalog-item:active {
  background-color: var(--special-red-active);
}

/*Список страниц*/

.page-item {
  font-weight: 500;
  line-height: 18px;
}

.page-item a[href] {
  background-color: var(--basic-grey-extra-light);
}

.page-item a[href]:hover {
  background-color: var(--special-grey-hover);
}

.page-item a[href]:active {
  background-color:var(--special-grey-active-catalog);
  color: rgba(var(--basic-black-rgb),0.3);
}
